<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Title</title>
  
	<link href="~/bootstrap/bootstrap.css" rel="stylesheet" />
	<link href="~/bootstrap/bootstrap.min.css" rel="stylesheet" />

	<link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
	<link href="~/lib/bootstrap/css/bootstrap.rtl.min.css" rel="stylesheet" />
	<link href="~/lib/bootstrap/css/bootstrap.rtl.css" rel="stylesheet" />
	<link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
</head>
<body style ="background-color:#191935;margin:auto;padding:inherit;">
    <div class="container" >
        @RenderBody()
    </div>


    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>


	<script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
	<script src="~/lib/bootstrap/js/bootstrap.bundle.js"></script>
	<script src="~/lib/bootstrap/js/bootstrap.esm.min.js"></script>
	<script src="~/lib/bootstrap/js/bootstrap.esm.js"></script>
	<script src="~/lib/bootstrap/js/bootstrap.min.js"></script>
	<script src="~/lib/bootstrap/js/bootstrap.js"></script>


    <style>
        body {
            font-family: sans-serif;
        }

        a {
            text-decoration: none !important;
        }


    </style>
</body>
</html>
