@using SearchEngine.API.Controllers;
@using SearchEngineWeb.Models;


@model  SearchEngineWeb.Models.SearchResult

@{
	Layout = "_Layout";
}


@await Html.PartialAsync("_google",Model)

<br />




<div style="position:fixed;bottom:10px;    left:20%;
    right: 20%;">


	<form method="post" asp-action="Search" class="row" >
		<select name="source"  class="form-control " style=" border-radius:50px;width:20%">
			

			@foreach (var item in Enum.GetValues(typeof(SearchResultType)))
			{
				@*displying Types of results Google youtube twitter*@

			@*	<a href="@item?query=apple" class="btn btn-danger" style="padding:15px;border-radius:20px;">
					@item
				</a>*@

<option value="@item"   >@item</option>

			}
		</select>

		<input class="form-control" name="query" style="width:80%; border-radius:50px" placeholder="What's on your mind ?"/>
		@*<button class="btn btn-primary col-4" type="submit">Search</button>
*@

	</form>

</div>
			