
@{
    ViewData["Title"] = "Wikipedia";
    Layout="_Layout";

}
@using SearchEngineWeb.Models
@model List<WikipediaResult>
<h1 style="color:white">Wikipedia</h1>

@await Html.PartialAsync("_wikipedia",Model)